.container {
  width: 600px;
  border-collapse: collapse;
  margin: 30px 0;
  font-size: 18px;
  text-align: center;
}

.column {
  width: 200px;
  color: #ddd;
  padding: 5px;
  border: 1px solid #ddd;
}

.bodyType {
  text-align: left;
  text-transform: capitalize;
  padding-left: 30px;
}

.container th {
  background-color: #322d2d;
  padding: 10px;
  border: 1px solid #ddd;
}

.container td {
  padding: 10px;
  border: 1px solid #ddd;
}

.container tr:nth-child(even) {
  background-color: #bfb2b2;
}

.container tr:hover {
  background-color: #f1f1f1;
}
